.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 24px;
  }
  
  .not-found-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .not-found-container p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .not-found-container a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  .not-found-container a:hover {
    text-decoration: underline;
  }
  